.header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0 3rem;
  align-items: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  background: linear-gradient(to right, #fde8e8, #dadcf8);
}


.header>* {
  padding: 0 0.75rem;
  margin: 0;
}

a {
  color: #2e2e2e;
}

a:hover {
  color: black;
}


.header--logo {
  height: 100%;
}

.main {
  max-width: 1250px;
  margin: 3rem auto 0 auto;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:2rem 0;
  padding: 0 2rem;

  /* place-content: center; */
}

.form--textElement {
  width: calc(49%);
  padding: 0.5rem;
}

.form--submit {  
  width: 80%;
  padding: 1rem;
  margin:auto;
  cursor: pointer;
  background-color: rgb(209, 37, 37);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.memeDiv{
  position: relative;
  margin:1rem auto;
  display: flex;
  justify-content: center;
}

.memeText{
  position:absolute;
  font-size:2.65rem;
  max-width:80%;
  text-transform: uppercase;
  color:white;
  letter-spacing: 1px;
  text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top{
  top:1%;
}

.bottom{
  bottom:1%;
}

.memeImage{
  max-width: 100%;
  /* max-height:55vh; */
  height:55vh;
  border:2px solid black;
}