.header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0 3rem;
  align-items: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  background: linear-gradient(to right, #fde8e8, #dadcf8);
}


.header>* {
  padding: 0 0.75rem;
  margin: 0;
}

a {
  color: #2e2e2e;
}

a:hover {
  color: black;
}


.header--logo {
  height: 100%;
}

.main {
  max-width: 1000px;
  margin: 1.5rem auto;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textInput {
  padding: 0.75rem;
  margin: 0.5rem 0;
}

.memeDiv {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: black;
}

.memeText {
  user-select: none;
  position: absolute;
  max-width: 80%;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 1%;
}

.bottom {
  bottom: 1%;
}

.memeImage {
  max-width: 100%;
  /* max-height:55vh; */
  max-height: 55vh;
  border: 2px solid black;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 5rem;
  margin: 0.5rem 0 0 0;
}

.buttonContainer>* {
  margin-right: 1rem;
}

.buttonIcon {
  height: 1.35rem;
  margin: auto .5rem;
}

.formSubmit,
.downloadMeme {
  padding: 1rem;
  cursor: pointer;
  background-color: rgb(209, 37, 37);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.downloadMeme {
  background-color: rgb(24, 202, 24);
}

.adjustFont {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}

.fontAdjust {
  height: 3rem;
  width: 5rem;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(112, 112, 112);
}

.fontAdjust:last-child {
  margin-left: 0.5rem;
}

@media (max-width:750px) {

  .buttonContainer {
    height:3rem;
  }

  .buttonContainer>* {
    margin-right: 0.5rem;
  } 


  .buttonText {
    display: none;
  }

  .fontAdjust {
    width:3rem;
  }
}